@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"); 

:root {
  /* sizes */
  --scale: max(min(1vw, 1vh), 7.2px);

  /* colors */
  --background-color: rgb(36, 71, 78);
  --background-color-dark: rgb(238, 155, 0);
  --foreground-color: rgb(238, 220, 168);
  --highlight-background-color: #BB3E03;
  --highlight-foreground-color: #fae6da;
  --nav-color: #001219;

  /* font */
  --font-family: "Inter", "Arial", sans-serif;
  --font-family-title: "Merriweather"
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
  width: 100vw;
  font-family: var(--font-family);
  font-size: calc(2 * var(--scale));
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  justify-content: center;
}

.body {
  display: flex;
  align-self: center;
  max-width: 80vw;
  margin: auto;
}

h1 {
  font-size: calc(4 * var(--scale));
  font-family: var(--font-family-title);
  font-weight: 1500;
  padding: 20px 0px 0px 0px;
}

h2{
  font-size: calc(3 * var(--scale));
  font-family: var(--font-family-title);
}

p {
  font-size: calc(2 * var(--scale));
  color:rgb(129, 152, 156);
  padding: 10px 10px 10px 10px;
}

p2 {
  font-size: calc(2 * var(--scale));
  color:rgb(129, 152, 156);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 10px 10px 10px 10px;
}

b {
  font-weight: 700;
}

label {
  font-weight: 700;
  margin: 0 calc(1.5 * var(--scale)) 0 0;
}

input {
  background: var(--background-color);
  color: var(--foreground-color);
  width: calc(50 * var(--scale));
  font-size: calc(2 * var(--scale));
  font-family: var(--font-family);
  border-style: solid;
  border-color: var(--foreground-color);
  border-width: calc(0.25 * var(--scale));
  border-radius: calc(1.0 * var(--scale));
  padding: calc(0.75 * var(--scale))
           calc(0.75 * var(--scale))
           calc(0.75 * var(--scale))
           calc(0.75 * var(--scale));
}

input:focus {
  outline: none;
}

.form-table {
  border: none;
  border-collapse: collapse;
  margin: calc(1 * var(--scale))
          0
          calc(2 * var(--scale))
          0;
}

.form-label {
  align-items: left;
  margin: calc(0.5 * var(--scale))
          calc(1.5 * var(--scale))
          calc(0.5 * var(--scale))
          0;
}

.form-input {
  align-items: right;
  margin: calc(0.5 * var(--scale))
          0
          calc(0.5 * var(--scale))
          0;
}

.form-button {
  text-align: right;
}

button {
  background: var(--background-color);
  color: var(--foreground-color);
  width: calc(15 * var(--scale));
  font-size: calc(2 * var(--scale));
  font-family: var(--font-family);
  border-style: solid;
  border-color: var(--foreground-color);
  border-width: calc(0.25 * var(--scale));;
  border-radius: calc(1.0 * var(--scale));
  margin: calc(0.5 * var(--scale)) 0 0 0;
  padding: calc(0.75 * var(--scale))
           calc(0.75 * var(--scale))
           calc(0.75 * var(--scale))
           calc(0.75 * var(--scale));
}

button:hover {
  background: var(--highlight-background-color);
}

.eggmacs {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
}

.username {
  font-family: "JetBrains Mono", monospace;
}

#navigation-bar {
  height: calc(7.5 * var(--scale));
  background-color: var(--background-color-dark);
  display: flex;
  justify-content: center;
}

#navigation-bar ul {
  list-style: none;
  padding: calc(0.5 * var(--scale)) 0 0 0;
}

#navigation-bar li {
  float: left;
}

#navigation-bar li a {
  color: var(--nav-color);
  font-weight: 700;
  text-decoration: none;
  padding: 0 calc(2.5 * var(--scale)) 0 calc(2.5 * var(--scale));
}

#navigation-bar li a:hover {
  color: var(--highlight-foreground-color);
}

.shapes{

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 20px;
}

#sqr {
  width: 10px;
  height: 10px;
  background-color: #e07000;
  margin-left: 50px;
}

#dia {
  width: 10px;
  height: 10px;
  background-color: #04a2a5;
  transform: rotate(45deg);
  margin-left: 50px;
}

#tri {
  width: 0;
  height: 0;
  border-bottom: 15px solid #ce4303;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-left: 45px;
}

#cir {
  width: 12px;
  height: 12px;
  background-color: #b2c032;
  border-radius: 75px;
  margin-left: 45px;
}