@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"); 

:root {
  /* sizes */
  --scale: min(max(min(1vw, 1vh), 7.2px), 10.8px);
  --page-width: min(calc(90 * var(--scale)), 90vw);
  
  /* map dimension */
  --map-row: 6;
  --map-column: 9;

  /* colors */
  --background-color: #284850;
  --background-color-accent: #f09810;
  --main-text: #f0d8a8;
  --body-text: #90a8b0;
  --nav-bar-text: #001820;
  --highlight-background-color: #c04008;
  --highlight-foreground-color: #f8e8d8;
  --highlight-foreground-color-text: #b0c030;
  --foreground-color-text-link:  #a6b090;
  --background-map-hover-color: rgba(255, 77, 0, 0.50);
  --map-border-color: #90a8b0;

  /* font */
  --font-family: "Inter", "Arial", sans-serif;
  --font-family-title: "Merriweather", serif;
  --font-family-mono: "JetBrains Mono", monospace;
}

body {
  background: var(--background-color);
  color: var(--main-text);
  width: 100%;
  font-family: var(--font-family);
  font-size: calc(2 * var(--scale));
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

table {
  border: none;
  border-collapse: collapse;
}

.body {
  align-self: center;
  width: var(--page-width);
  margin: auto;
}

.normal-margin {
  margin: 1em 0 1em 0;
}

.containerParent{
  width: 100%;
  content: center;
}

.halfcontainer{
  background: #94D2BD;
  width: 45%;
  float: left;
}

.container{
  width: 100%;
}

.container-row{
  display: flex;
  justify-content: center;
}

.container-row div{
  margin: 0 calc(1.5 * var(--scale)) 0 calc(1.5 * var(--scale));
}

.hspacer{
  height: calc( var(--scale))px;
  opacity: 0;
}

.header-banner{
  background-color: black;
  background-image: url('https://64.media.tumblr.com/4a1fc088471d836ed2a78e8eff8f39b7/06641480e5ee4adf-c8/s1280x1920/6329380cb3e7e6aeab1ed815272a69a812b58fd4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(22.5 * var(--scale));
}

h1 {
  font-size: calc(4 * var(--scale));
  font-family: var(--font-family-title);
  font-weight: 900;
  margin: calc(5 * var(--scale)) 0 0 0;
}

h2 {
  font-size: calc(5 * var(--scale));
  font-family: var(--font-family-title);
  color: orange;
  font-weight: 900;
  margin: calc(5 * var(--scale)) 0 0 0;
  margin-bottom: calc(3 * var(--scale));
  text-shadow: 2px 2px #242424;
}

h3 {
  background: #94d2bda0;
  font-size: calc(3 * var(--scale));
  font-family: var(--font-family-title);
  color: var(--nav-bar-text);
  font-weight: 900;
  border-radius: calc(1.0 * var(--scale));
  margin: 0 0 calc(3 * var(--scale)) 0;
  padding: calc(0.15 * var(--scale))
           calc(1.25 * var(--scale))
           calc(0.15 * var(--scale))
           calc(1.25 * var(--scale));
}

bannertext{
  font-size: calc(5 * var(--scale));
  font-family: var(--font-family-title);
  color: white;
  font-weight: 900;
  margin: calc(5 * var(--scale));
  margin-bottom: calc(3 * var(--scale));
  text-shadow: 2px 2px #3d6364;
}

sub{
  font-size: calc(2 * var(--scale));
  font-weight: 700;
  color:var(--highlight-foreground-color);
  line-height: 1.5;
}

.normal-margin {
  margin: 1em 0 1em 0;
}

p {
  font-size: calc(2 * var(--scale));
  color:var(--body-text);
}

b {
  font-weight: 700;
}

label {
  font-weight: 700;
  margin: 0 calc(1.5 * var(--scale)) 0 0;
}

input {
  background: var(--background-color);
  color: var(--main-text);
  font-size: calc(2 * var(--scale));
  font-family: var(--font-family);
  border-style: solid;
  border-color: var(--main-text);
  border-width: calc(0.25 * var(--scale));
  border-radius: calc(1.0 * var(--scale));
  padding: calc(0.75 * var(--scale))
           calc(0.75 * var(--scale))
           calc(0.75 * var(--scale))
           calc(0.75 * var(--scale));
}

input:focus {
  outline: none;
  border-color: var(--highlight-background-color);
}

button {
  background: var(--background-color);
  color: var(--main-text);
  font-size: calc(2 * var(--scale));
  font-family: var(--font-family);
  border-style: solid;
  border-color: var(--main-text);
  border-width: calc(0.25 * var(--scale));
  border-radius: calc(1.0 * var(--scale));
  margin: calc(0.5 * var(--scale)) 0 0 0;
  padding: calc(0.75 * var(--scale))
           calc(0.75 * var(--scale))
           calc(0.75 * var(--scale))
           calc(0.75 * var(--scale));
}

button:hover {
  background: var(--highlight-background-color);
  transition: background 0.2s;
}

button:focus {
  outline: none;
  border-color: var(--highlight-background-color);
}

.img-button {
  color: var(--background-color);
  font-size: calc(2 * var(--scale));
  font-family: var(--font-family-title);

  text-align: center;
  border-style: hidden;

  box-shadow: 0 18px 35px rgba(50, 50, 90, .3), 0 8px 15px rgba(0, 0, 0, .2);

  background-color: white;
  width: calc(28 * var(--scale));
  height: calc(25 * var(--scale));
  border-radius: calc(1.5 * var(--scale));
}

.item-select {
  background: transparent;
  border: none;
  padding: 0 calc(0.5 * var(--scale)) 0 calc(0.5 * var(--scale));
}

.item-select #selected {
  outline-style: solid;
  outline-color: var(--highlight-background-color);
  outline-width: calc(0.5 * var(--scale));
}

.item-select:hover {
  background: transparent;
}

.item-select img:hover {
  outline-style: solid;
  outline-color: var(--highlight-background-color);
  outline-width: calc(0.5 * var(--scale));
}

.overlay {
  position: relative;
}

.overlay:before {
background-color: rgba(32,32,32,.7);
  position: absolute;
  content:" ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  opacity: 60%;
  transition: opacity 0.2s linear;
  border-radius: calc(1.5 * var(--scale));
}

.overlay:hover:before{
  opacity: 30%;
  transition: opacity 0.2s linear; 
}

.team-profile {
  height: calc((var(--page-width) / 5) - (2 * var(--scale)));
  width: calc((var(--page-width) / 5) - (2 * var(--scale)));
}

::file-selector-button {
  background: transparent;
  color: var(--foreground-color);
  font-weight: 700;
  border-style: none;
  margin: 0 0 0 0;
  padding: 0 calc(2 * var(--scale)) 0 0;
  display: none;
}

select {
  background: var(--background-color);
  color: var(--main-text);
  font-size: calc(2 * var(--scale));
  font-family: var(--font-family);
  border-style: solid;
  border-color: var(--main-text);
  border-width: calc(0.25 * var(--scale));
  border-radius: calc(1.0 * var(--scale));
  padding: calc(0.75 * var(--scale))
           calc(0.75 * var(--scale))
           calc(0.75 * var(--scale))
           calc(0.75 * var(--scale));
}

select:hover {
  background: var(--highlight-background-color);
}

select:focus {
  outline: none;
}

option {
  background: var(--background-color);
}

option:hover {
  background: var(--highlight-background-color);
}

.form-table {
  border: none;
  border-collapse: collapse;
  margin: calc(1 * var(--scale))
          0
          calc(2 * var(--scale))
          0;
}

.form-label {
  align-items: left;
  margin: calc(0.5 * var(--scale))
          calc(1.5 * var(--scale))
          calc(0.5 * var(--scale))
          0;
  white-space: nowrap;  /* prevent multi-line cell */
}

.form-input {
  align-items: right;
  width: calc(100% - ((2*0.75 + 2*0.25 - 0.5*0.25) * var(--scale)));
  margin: calc(0.5 * var(--scale))
          0
          calc(0.5 * var(--scale))
          0;
}

.form-input[type="file"]:hover {
  background-color: var(--highlight-background-color);
}

.form-input-cell {
  width: 100%;
}

.form-button {
  text-align: right;
}

.form-button button {
  width: calc(15 * var(--scale));
}

#delete-account {
  width: calc(20 * var(--scale));
  margin: 0 calc(2 * var(--scale)) 0 0;
}

.search-input {
  /* 2*12.5 ... compensates padding and borders of all elements after input */
  width: calc(100% - ((2*12.5 + 6*0.75 + 6*0.25) * var(--scale)));
  margin: 0 calc(2 * var(--scale)) 0 0;
}

.search-button {
  width: calc(12.5 * var(--scale));
}

.search-select {
  width: calc(12.5 * var(--scale));
  margin: 0 calc(2 * var(--scale)) 0 0;
}

.search-result {
  margin: calc(2.5 * var(--scale)) 0 0 0;
}

.profile-table td {
  border: none;
  border-collapse: collapse;
  vertical-align: top;
}

.profile-avatar {
  width: calc(15 * var(--scale));
  height: calc(15 * var(--scale));
  border-style: solid;
  border-color: var(--foreground-color);
  border-width: calc(0.25 * var(--scale));
  border-radius: calc(1.0 * var(--scale));
  margin: 0 calc(2 * var(--scale)) 0 0;
}

.eggmacs {
  font-family: var(--font-family-mono);
  font-weight: 700;
}

.eggmacs:hover{
  cursor: url('https://64.media.tumblr.com/1775fb6ffb915b60abe9d33af96c3aca/f2502252a89ac9d0-28/s250x400/319613969b89ce1bd1d4336952c31511e94298da.png'), auto;
}

.username {
  font-family: var(--font-family-mono);
}

.creator {
  width: calc(9 * var(--map-column) * var(--scale));
}

.map-board {
  outline-style: solid;
  outline-color: var(--map-border-color);
  outline-width: calc(1.5 * 0.15 * var(--scale));
  border-collapse: collapse;
}

.map-cell {
  outline-style: solid;
  outline-color: var(--map-border-color);
  outline-width: calc(0.15 * var(--scale));
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

.map-cell-off {
  outline-style: none;
}

#tile-image {
  outline: none;
}

#asset-image {
  outline: none;
}

#tile-button button:hover {
  background-color: var(--background-map-hover-color);
}

#asset-button button:hover {
  background-color: var(--background-map-hover-color);
}

.block {
  background: transparent;
  text-align: center;
  border: none;
  border-radius: 0;
  float: left;
  margin: 0;
  padding: 0;
}

.items-select {
  background: transparent;
  display: flex;
  border-style: solid;
  border-color: var(--main-text);
  border-width: calc(0.25 * var(--scale));
  border-radius: calc(1.0 * var(--scale));
  margin: calc(2 * var(--scale)) 0 0 0;
  padding: calc(0.8 * var(--scale))
           calc(0.75 * var(--scale))
           calc(0.5 * var(--scale))
           calc(0.75 * var(--scale));
}

.select-select {
  width: calc(15 * var(--scale));
  margin: 0 calc(2 * var(--scale)) 0 0;
}

.tile-image {
  outline: none;
  margin: calc(5 * var(--scale)) 0 0 0;
}

.asset-image {
  outline: none;
  margin: calc(-1 * var(--page-width) / var(--map-column) * var(--map-row))
          0
          0
          0;
}

.tile-board {
  margin: calc(-1 * var(--page-width) / var(--map-column) * var(--map-row))
          0
          0
          0;
}

.asset-board {
  margin: calc(-1 * var(--page-width) / var(--map-column) * var(--map-row))
          0
          0
          0;
}

#tile {
  height: calc(var(--page-width) / var(--map-column));
  width: calc(var(--page-width) / var(--map-column));
}

#asset {
  height: calc(var(--page-width) / var(--map-column) / 3);
  width: calc(var(--page-width) / var(--map-column) / 3);
}

.select {
  height: calc(5 * var(--scale));
  width: calc(5 * var(--scale));
  /* height: calc(var(--page-width) / var(--map-column) / 2);
  width: calc(var(--page-width) / var(--map-column) / 2); */
}

#delete-map {
  width: calc(15 * var(--scale));
  margin: 0 calc(2 * var(--scale)) 0 0;
}

#download-map {
  width: calc(20 * var(--scale));
  margin: 0 0 0 calc(2 * var(--scale));
}

#toggle-grid-label {
  color: var(--main-text);
  margin: 0 calc(2 * var(--scale)) 0 calc(5 * var(--scale));
}

.map-toggle label {
  position: relative;
  width: calc(7.5 * var(--scale));
  height: calc(4.5 * var(--scale));
  display: inline-block;
}

.map-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-text);
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: calc(1.0 * var(--scale));
  transform: translate(0, calc(-0.75 * var(--scale)));
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(3 * var(--scale));
  width: calc(3 * var(--scale));
  left: calc(0.75 * var(--scale));;
  bottom: calc(0.75 * var(--scale));;
  background-color: var(--background-color);
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: calc(0.5 * var(--scale));
}

.map-toggle-button:checked + .slider {
  background-color: var(--highlight-background-color);
}

.map-toggle-button:checked + .slider:before {
  -webkit-transform: translate(calc(3 * var(--scale)));
  -ms-transform: translate(calc(3 * var(--scale)));
  transform: translate(calc(3 * var(--scale)));
}

#navigation-bar {
  height: calc(7.5 * var(--scale));
  background-color: var(--background-color-accent);
  display: flex;
  justify-content: center;
}

#navigation-bar ul {
  list-style: none;
  padding: calc(0.2 * var(--scale)) 0 0 0;
}

#navigation-bar li {
  float: left;
}

#navigation-bar li a {
  color: var(--nav-bar-text);
  font-weight: 700;
  text-decoration: none;
  border-style: solid;
  border-color: transparent;
  border-width: calc(0.25 * var(--scale));;
  border-radius: calc(1.0 * var(--scale));
  padding: calc(0.5 * var(--scale))
           calc(1.5 * var(--scale))
           calc(0.5 * var(--scale))
           calc(1.5 * var(--scale));
  margin: 0 calc(1.5 * var(--scale)) 0 calc(1.5 * var(--scale));
}

#navigation-bar li a:focus {
  outline: none;
  color: var(--highlight-foreground-color)
  /* border-color: var(--foreground-color-accent); */
}

#navigation-bar li a:hover {
  color: var(--highlight-foreground-color);
}

#bottom-bar {
  text-align: center;
  margin: calc(3 * var(--scale)) 0 calc(3 * var(--scale)) 0;
}

#bottom-bar p {
  margin: 0 0 0 0;
}

.shapes {
  display: flex;
  justify-content: center;
  padding: calc(2 * var(--scale)) 0 calc(2 * var(--scale)) 0;
}

.shapes div {
  margin: 0 calc(2 * var(--scale)) 0 calc(2 * var(--scale));
}

#square {
  width: calc(1.5 * var(--scale));
  height: calc(1.5 * var(--scale));
  background-color: #e07008;
}

#diamond {
  width: calc(1.5 * var(--scale));
  height: calc(1.5 * var(--scale));
  background-color: #08a0a8;
  transform: rotate(45deg);
}

#triangle {
  width: 0; 
  height: 0;
  border-bottom: calc(1.8 * 0.8660254 * var(--scale)) solid #d04008;
  border-left: calc(0.9 * var(--scale)) solid transparent;
  border-right: calc(0.9 * var(--scale)) solid transparent;
}

#circle {
  width: calc(1.75 * var(--scale));
  height: calc(1.75 * var(--scale));
  background-color: #b0c030;
  border-radius: calc(1.75 * var(--scale));
  transform: translate(0, calc(-0.15 * var(--scale)))
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--body-text);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-foreground-color-text);
}

::-webkit-scrollbar-corner {
  background: var(--background-color);
}

.hypertext{
  color: var(--foreground-color-text-link);
  text-decoration: none;
}

.hypertext:hover{
  color: var(--foreground-color);
}
